.table-cards-detail th:nth-child(1),
.table-cards-detail td:nth-child(1) {
  width: 10%;
  /* text-align: center; */
}

.table-cards-detail th:nth-child(2),
.table-cards-detail td:nth-child(2) {
  width: 15%;
}

.table-cards-detail th:nth-child(3),
.table-cards-detail td:nth-child(3) {
  width: 40%;
}

.table-cards-detail th:nth-child(4),
.table-cards-detail td:nth-child(4) {
  width: 10%;
}

.table-cards-detail th:nth-child(5),
.table-cards-detail td:nth-child(5) {
  width: 25%;
}


.media-preview {
  width: 8vw;
  /* kích thước khung cố định */
  height: 5vw;
  overflow: hidden;
  /* cắt phần dư nếu ảnh quá lớn */
  border-radius: var(--radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-qr {
  width: 5vw;
  aspect-ratio: 1/1;
}

.media-qr img,
.media-preview img,
.media-preview video,
.media-preview iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-small);
}