.table-cards-detail th:nth-child(1),
.table-cards-detail td:nth-child(1) { width: 10%; 
    text-align: center;}
.table-cards-detail th:nth-child(2),
.table-cards-detail td:nth-child(2) { width: 10%; 
}
.table-cards-detail th:nth-child(3),
.table-cards-detail td:nth-child(3) { width: 45%; }
.table-cards-detail th:nth-child(4),
.table-cards-detail td:nth-child(4) { width: 10%; }
.table-cards-detail th:nth-child(5),
.table-cards-detail td:nth-child(5) { width: 25%; }



/* ====== NÚT TRONG MODAL ====== */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Nút chính - mặc định là màu xanh */
.btn-primary {
  background-color: #0d47a1;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-primary:hover {
  background-color: #1565c0;
}

/* Nút “Hủy” */
.btn-cancel {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-cancel:hover {
  background-color: #bdbdbd;
}

/* Nút “Cập nhật” (thêm class động khi editingContent !== null) */
.btn-warning {
  background-color: #f9a825; /* vàng đậm */
  color: white;
}

.btn-warning:hover {
  background-color: #f57f17; /* cam đậm hơn khi hover */
}
