:root {
  --header-text: #0d1b2a;
  --header-text2: #e0e1dd;

  --header-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  --user-hd-bg: #111827;
}

[data-theme="dark"] {
  --header-text: #e0e1dd;
  --header-text2: #0d1b2a;

  --user-hd-bg: #ffffff;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: var(--color-bg-content);
  color: var(--color-text-primary);
  padding: 0.8vw 2vw 0 2vw;
  position: relative;
  z-index: 50;
}

.header-left {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-size-xxlarge);
}

/* #region ================== CENTER ================= */

.header-center {
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  width: 70%;
}

.search-input {
  width: 100%;
  padding: 0.6vw 1vw 0.6vw 2.8vw;
  border-radius: var(--radius-large);
  border: solid #d1d5db;
  background: #f9fafb;
  font-size: 0.9vw;
  transition: var(--transition-normal);
}

.search-input:focus,
.search-input:hover {
  outline: none;
  background: #fff;
  box-shadow: var(--shadow-hover);
}

/* #endregion */

/* #region ================== RIGHT ================= */

.header-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-medium);
  position: relative;
}

.theme-toggle {
  aspect-ratio: 1 / 1;
  width: 2.2vw;
  font-size: var(--font-size-large);
  cursor: pointer;
  border: none;
  border-radius: var(--radius-round);
}

.theme-toggle {
  box-shadow: var(--shadow-inner);
  transition: var(--transition-normal);
}

.theme-toggle:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-raised);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  font-size: var(--font-size-large);
}

.user-menu svg {
  font-size: var(--font-size-xxlarge);
}

.user-name {
  background: var(--user-hd-bg);
  color: var(--header-text2);
  border: none;
  text-transform: capitalize;
  border-radius: var(--radius-medium);
  padding: 0.6vw 1vw;
  font-size: var(--font-size-medium);
  cursor: pointer;
  transition: var(--transition-normal)
}

.user-name button {
  color: violet;
}

.user-name:hover {
  background: #3e526e;
  transition: var(--transition-normal)
}

/* #region ================== DROPDOWN ================= */

.dropdown {
  position: absolute;
  right: 0;
  top: 4vw;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5vw;
  box-shadow: var(--shadow-hover);
  flex-direction: column;
  min-width: 10vw;
  padding: 0.4vw 0;
  z-index: 100;

  opacity: 0;
  transform: translateY(-0.8vw) scale(0.98);
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity var(--transition-slow) var(--ease-smooth),
    transform var(--transition-slow) var(--ease-smooth),
    visibility 0s linear var(--transition-slow),
    box-shadow var(--transition-slow) var(--ease-spring);
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
  pointer-events: auto;
  box-shadow: var(--shadow-hover);
  transition:
    opacity var(--transition-slow) var(--ease-smooth),
    transform var(--transition-slow) var(--ease-smooth),
    box-shadow var(--transition-slow) var(--ease-spring);
}

.dropdown.hide {
  opacity: 0;
  transform: translateY(-0.8vw) scale(0.98);
  pointer-events: none;
  visibility: hidden;
}

.dropdown a {
  text-decoration: none;
  color: #111827;
  padding: 0.6vw 1vw;
  font-size: var(--font-size-medium);
  display: block;
  margin: var(--margin-small);
  border-radius: var(--radius-medium);
}

.dropdown a:hover {
  background: #f3f4f6;
}

.dropdown hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 0.3vw 0;
}

/* #endregion */

/* #endregion */