:root {
  --header-bg: #ffffff;
  --header-text: #0d1b2a;
  --header-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --header-bg: #1b263b;
  --header-text: #e0e1dd;
}

.header-left{
  font-size: var(--font-size-large);
}

/* #region ================== CENTER ================= */

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  width: 70%;
}

.search-input {
  width: 100%;
  padding: 0.6vw 1vw 0.6vw 2.8vw;
  border-radius: var(--radius-large);
  border: solid #d1d5db;
  background: #f9fafb;
  font-size: 0.9vw;
  transition: var(--transition-normal);
}
.search-input:focus, 
.search-input:hover {
  outline: none;
  background: #fff;
  box-shadow: var(--shadow-hover);
}
/* #endregion */

/* #region ================== RIGHT ================= */
.header-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
}

.theme-toggle{
  aspect-ratio: 1 / 1;
  width: 2.2vw;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-round);
}

.theme-toggle {
  box-shadow: var(--shadow-inner);
  transition: var(--transition-normal);
}

.theme-toggle:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-raised);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: var(--gap-small); 
  font-size: var(--font-size-large);
}

.user-menu svg{
  font-size: var(--font-size-xxlarge);
}

.user-name {
  background: #111827;
  color: #fff;
  border: none;
  border-radius: var(--radius-medium);
  padding: 0.6vw 1vw;
  font-size: var(--font-size-medium);
  cursor: pointer;
  transition: var(--transition-normal)
}

.user-name:hover {
  background: #3e526e;
  transition: var(--transition-normal)
}

.dropdown {
  position: absolute;
  right: 0;
  top: 4vw;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5vw;
  box-shadow: var(--shadow-hover);
  flex-direction: column;
  min-width: 10vw;
  padding: 0.4vw 0;
  z-index: 100;

  opacity: 0;
  transform: translateY(-0.8vw) scale(0.98);
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity var(--transition-slow) var(--ease-smooth),
    transform var(--transition-slow) var(--ease-smooth),
    visibility 0s linear var(--transition-slow),
    box-shadow var(--transition-slow) var(--ease-spring);
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
  pointer-events: auto;
  box-shadow: var(--shadow-hover);
  transition:
    opacity var(--transition-slow) var(--ease-smooth),
    transform var(--transition-slow) var(--ease-smooth),
    box-shadow var(--transition-slow) var(--ease-spring);
}

.dropdown.hide {
  opacity: 0;
  transform: translateY(-0.8vw) scale(0.98);
  pointer-events: none;
  visibility: hidden;
}

.dropdown a {
  text-decoration: none;
  color: #111827;
  padding: 0.6vw 1vw;
  font-size: 0.9vw;
  display: block;
  margin: var(--margin-small);
  border-radius: var(--radius-medium);
}

.dropdown a:hover {
  background: #f3f4f6;
}

.dropdown hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 0.3vw 0;
}
