/* ============ LAYOUT TABLE ============ */
.table-layouts th:nth-child(1),
.table-layouts td:nth-child(1) {
  width: 25%;
}

.table-layouts th:nth-child(2),
.table-layouts td:nth-child(2) {
  width: 15%;
}

.table-layouts th:nth-child(3),
.table-layouts td:nth-child(3) {
  width: 15%;
  text-align: center;
}

.table-layouts th:nth-child(4),
.table-layouts td:nth-child(4) {
  width: 20%;
  text-align: center;
}

.table-layouts th:nth-child(5),
.table-layouts td:nth-child(5) {
  width: 25%;
}

/* .table-layouts code {
  background: #f3f4f6;
  color: #2563eb;
  padding: 3px 6px;
  border-radius: 4px;
  font-family: monospace;
} */


.table-layouts td div[style*="grid"] {
  display: inline-grid;
  place-items: center;
}

.layout-block::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -1.6vw;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2vw 0.4vw;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 0.8vw;
  border-radius: 0.2vw;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.layout-block:hover::after {
  opacity: 1;
}