.layout-editor-page {
  text-align: center;
  font-family: "Inter", sans-serif;
  background: #f9fafb;
  color: #222;
  min-height: 100vh;
  padding: 2rem;
  border-radius: var(--radius-medium);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.input-row input {
  width: 50px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 4px;
}

.grid-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 2rem auto;
  width: fit-content;
}

/* Lớp nền */
.base-grid {
  display: grid;
  background: transparent;
}

.cube {
  width: 100px;
  height: 80px;
  background: #c9c8c8;
  /* border-radius: 6px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.cube:hover {
  background: #edf2f8;
  transform: scale(1.05);
}

/* Lớp overlay */
.overlay-grid {
  position: absolute;
  top: 0;
  left: 0;
}


/* Block */
.grid-item {
  background: #fffaf2;
  border: 2px solid #ff7eb6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  box-shadow: 0 2px 8px #0002;
}

.remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff0099;
  color: #fff;
  border: none;
  font-size: 10px;
  border-radius: 0 0 0 6px;
  cursor: pointer;
  z-index: 1000 !important;
}


/* Code output section */
.code-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2rem;
}

.code-box {
  background: #fffaf5;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 420px;
  flex: 1 1 45%;
  font-family: monospace;
  color: #222;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
}

.code-header button {
  background: #007bff;
  border: none;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

.code-header button:hover {
  background: #0056b3;
}

.code-box pre {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
}