@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
    
:root {
  --primary-color: #0D47A1;
  --secondary-color: #F9F8FD;
  --text-color: #333;
  --hover-bg: rgba(255, 255, 255, 0.05);
  --overlay-bg: rgba(12, 12, 12, 0.4);
  --overlay-bg-hover: rgba(12, 12, 12, 0.6);

  --font-size-header: 2vw;
  --font-size-title: 1.1vw;
  --font-size-normal: 1.2vw;
  --font-size-small: 1vw;
  --font-size-body: 1em;

  --sidebar-width: 6vw;
  --padding-ratio: 0.2;
  --border-radius: 0.5vw;
  --spacing: 1vw;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #0D1B2A;
    height: 100vh; 
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr; 
    grid-template-rows: auto 1fr;  
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

/* #region ================= SIDE BAR ================= */

.sidebar {
    grid-area: sidebar;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0D1B2A;
}

.sidebar .nav-logo {
    display: flex;              
    justify-content: center;   
    align-items: center;        
    width: 90%;               
    height: auto;
    max-width: 7vw;
    max-height: 7vw;
    margin: 0 0 3vh 0;     
    padding: calc(var(--sidebar-width) * var(--padding-ratio) / 2);            
    box-sizing: border-box;  
}

.sidebar .nav-logo img {
    width: 100%;              
    height: auto;            
    object-fit: contain;       
    display: block;            
}

.sidebar ul {
    list-style: none;
    padding-left: calc(var(--sidebar-width) * var(--padding-ratio));
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.2vw;
    height: 100%;
    margin-right: 10%;
}

.sidebar ul li.setting {
    margin-top: auto;
    padding-bottom: 2vw;
}

.sidebar ul li a {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    color: #a0a0a0;
    font-size: 1.5vw;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.7vw calc(var(--sidebar-width) * var(--padding-ratio) / 2) 0.7vw 0;
}

.sidebar ul li a i,
.sidebar ul li a img {
    margin-bottom: 0.3vw;
}

.sidebar ul li a .nav-text {
    font-size: 0.9vw; 
    line-height: 1.2;
}

.sidebar ul li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1vw 0 0 1vw;
}

.sidebar ul li a.active {
    position: relative;
    color: #0D1B2A;
    background-color: #F0F2F5;
    border-top-left-radius: 1vw;   
    border-bottom-left-radius: 1vw;
    z-index: 1;
}

.sidebar ul li a.active::before {
    content: "";
    position: absolute;
    top: -1vw;    
    right: 0;
    width: 1.2vw;    
    height: 1.2vw;  
    background: #F0F2F5;
}

.sidebar ul li a.active::after {
    content: "";
    position: absolute;
    top: -1vw;
    right: 0vw;
    width: 1.2vw;
    height: 1vw;
    background: #0D1B2A;
    border-bottom-right-radius: 1vw;
}

.sidebar ul li a.active .corner-bottom {
    content: "";
    position: absolute;
    bottom: -1vw;
    right: 0;
    width: 1.2vw;
    height: 1vw;
    background: #F0F2F5;
}

.sidebar ul li a.active .corner-bottom::after {
    content: "";
    position: absolute;
    right: 0vw;
    width: 1.2vw;
    height: 1vw;
    background: #0D1B2A;
    border-top-right-radius: 1vw;
}

/* #region ================= TITLE ================= */
.title {
    font-weight: bold;
    color: rgb(111, 111, 111);
    padding: 0.5vh 0 0.5vh 0;
    font-size: var(--font-size-title);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title i {
    color: black;
    font-size: 1em;          
    padding-right: 0.7vw;     
}

.title span {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    flex-grow: 1;
}

.title .icon-pdf,
.title .icon-image,
.title .icon-video {
    display: none !important;
    opacity: 0;
}
/* #endregion */

/* #endregion */

/* #region ================= MAIN HEADER ================= */

.main-header {
    font-size: var(--font-size-header);
    font-weight: 500;
    color: black;
    margin: 1vh 1vh 0 0;   
    background: #F0F2F5;
    border-radius: 1vw 1vw 0 0;
}

.main-title .highlight {
    font-weight: 600; 
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3vw 2.5vw;
}

.header-content .date-line {
    text-align: left;
    font-weight: bold;
    align-self: flex-start;
    font-size: 0.5em;
    color: #555;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1em;
    width: 70%;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.1em;
    text-align: right;
    font-size: var(--font-size-body);
    color: #333;
    font-size: var(--font-size-small);
    width: 30%
}

.header-right #weather {
    width: 100%;
}

.header-right .weather-icon {
    width: 10%;
    height: auto; 
    vertical-align: middle; 
    filter: drop-shadow(0.5vw 0.2vw 0.3vw rgba(0, 0, 0, 0.4));
}

/* #endregion */

/* #region ================= MAIN CONTENT ================= */
.main-content {
    grid-area: main-content;
    display: flex;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    background: #F0F2F5;

    gap: 2vw;
    margin: 0 0.5vw 0.5vw 0;
    flex-grow: 1;
    background: #F0F2F5;
    border-radius: 0 0 1vw 1vw;
}

.main-content.layout-2-col .carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    gap: 2vw;
    padding: 1vw 2vw 2vw 2.5vw;
    flex-grow: 1;
    background: #F0F2F5;
    border-radius: 0 0 1vw 1vw;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    border: none;

    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: none;

    background: rgb(115, 110, 110);
    color: #ffffff;
    font-size: 2vw;
    width: 3.5vw;
    height: 3.5vw;
    opacity: 0.7;
}

.carousel-btn.prev {
    left: 0.5vw;
}

.carousel-btn.next {
    right: 0.5vw;
}

/* #endregion */

#clock {
    font-weight: bold;
    font-size: 1em;
}