@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --secondary-color: #F9F8FD;
    --text-color: #333;
    --hover-bg: rgba(255, 255, 255, 0.05);
    --overlay-bg: rgba(12, 12, 12, 0.4);
    --overlay-bg-hover: rgba(12, 12, 12, 0.6);

    --sidebar-width: 5.8vw;
    --padding-ratio: 0.2;
    --border-radius: 0.5vw;
    --spacing: 1vw;


    --text-dark: #161B1D;
    --text-light: #FAFBFF;

    /* #region ======================= Padding/Margin ====================== */
    --padding-tiny: 0.2vw;
    --padding-small: 0.5vw;
    --padding-medium: 1vw;
    --padding-large: 1.5vw;
    --padding-xlarge: 2vw;
    --padding-xxlarge: 2.5vw;

    --margin-tiny: 0.2vw;
    --margin-small: 0.5vw;
    --margin-medium: 1vw;
    --margin-large: 1.5vw;
    --margin-xlarge: 2vw;
    --margin-xxlarge: 2.5vw;
    /* #endregion */

    /* #region ======================= Gap/Radius ====================== */
    --gap-tiny: 0.3vw;
    --gap-small: 0.5vw;
    --gap-medium: 1vw;
    --gap-large: 1.5vw;
    --gap-xlarge: 2vw;

    --radius-none: 0;
    --radius-tiny: 0.2vw;
    --radius-small: 0.4vw;
    --radius-medium: 0.8vw;
    --radius-large: 1.2vw;
    --radius-xlarge: 2vw;
    --radius-round: 50%;
    /* #endregion */

    /* #region ======================= Font Size Scale ====================== */
    --font-size-tiny: 0.5vw;
    --font-size-small: 0.8vw;
    --font-size-medium: 1vw;
    --font-size-large: 1.3vw;
    --font-size-xlarge: 1.5vw;
    --font-size-xxlarge: 2vw;
}

[data-theme="dark"] {
    --bg: #0d1b2a;
    --bg-alt: #1b263b;
    --text-dark: #e0e1dd;
    --text-light: #f9fafc;
    --primary: #415a77;
    --highlight: #778da9;
    --shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #0D1B2A;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

.content-wrapper {
    grid-area: header / header / main-content / main-content;
    display: flex;
    flex-direction: column;

    margin: 0.5vw 0.5vw 0.5vw 0.1vw;
    background: #F0F2F5;
    border-radius: 1vh 0.5vw 1vw 1vw;
}


/* #region ================= SIDE BAR ================= */

.sidebar {
    grid-area: sidebar;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0D1B2A;
    position: relative;
}

.sidebar .nav-logo {
    display: flex;
    max-width: 7vw;
    max-height: 7vw;
    margin-bottom: 3vh;
    box-sizing: border-box;
}

.sidebar .nav-logo img {
    width: 5vw;
    margin-top: var(--margin-medium);
}

.sidebar ul {
    list-style: none;
    padding-left: calc(var(--sidebar-width) * var(--padding-ratio));
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.2vw;
    height: 100%;
    margin-right: 10%;
}

.sidebar ul li.setting {
    margin-top: auto;
    padding-bottom: 2vw;
}

.sidebar ul li a {
    display: flex;
    transition: all 0.35s ease-in-out;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-tiny);
    padding: 0.7vw calc(var(--sidebar-width) * var(--padding-ratio) / 2) 0.7vw 0;

    width: 100%;
    box-sizing: border-box;
    color: #a0a0a0;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-xlarge);
    transform: translateZ(0);
    /* backface-visibility: hidden; */
}

.sidebar ul li a .nav-text {
    font-size: var(--font-size-medium);
    line-height: 1.2;
    opacity: 0.9;
}

.sidebar ul li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1vw 0 0 1vw;
    font-weight: bold;
}

.sidebar ul li a.active {
    color: black;
    /* background-color: red; */
    font-weight: bold;
}

#sidebar-highlight {
    position: absolute;
    left: 0;
    width: 100%;
    margin-left: var(--margin-small);
    background: #F0F2F5;
    border-radius: 1vw 0 0 1vw;
    /* z-index: 0; */
    height: 4.5vw;
    transform: translateY(120vw);
    transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Góc trên */
#sidebar-highlight::before {
    content: "";
    position: absolute;
    top: -1vw;
    right: 0;
    width: 2vw;
    height: 1.2vw;
    background: #F0F2F5;
}

#sidebar-highlight::after {
    content: "";
    position: absolute;
    top: -1.1vw;
    right: 0.4vw;
    width: 4vw;
    height: 1.1vw;
    background: #0D1B2A;
    border-bottom-right-radius: 1vw;
}

/* Góc dưới */
#sidebar-highlight .corner-bottom {
    content: "";
    position: absolute;
    bottom: -1vw;
    right: -0.6vw;
    width: 2vw;
    height: 1.25vw;
    background: #F0F2F5;
}

#sidebar-highlight .corner-bottom::after {
    content: "";
    position: absolute;
    width: 2vw;
    height: 1.3vw;
    top: 0.3vw;
    background: #0D1B2A;
    right: 1vw;
    border-top-right-radius: 1vw;
}



/* #region ================= TITLE ================= */
.title {
    font-weight: bold;
    color: rgb(111, 111, 111);
    padding: var(--padding-small) 0;
    font-size: var(--font-size-large);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title i {
    color: black;
    font-size: 1em;
    padding-right: 0.7vw;
}

.title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.title .icon-pdf,
.title .icon-image,
.title .icon-video {
    display: none !important;
    opacity: 0;
}

/* #endregion */

/* #endregion */

/* #region ================= MAIN HEADER ================= */

.main-header {
    font-weight: 500;
    color: black;
    /* margin: 1vh 1vh 0 0; */
    background: #F0F2F5;
    border-radius: 1vh 0.5vw 0 0;
}

.main-title .highlight {
    font-weight: 600;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0.8vw 2vw 0vw 2vw;
    /* text-align: start; */
}

/* .header-content .date-line {
    text-align: left;
    font-weight: bold;
    align-self: flex-start;
    font-size: 0.5em;
    color: #555;
} */

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    font-size: var(--font-size-xxlarge);
    gap: var(--gap-small);
    margin-top: 0.5vw;
}

.header-left .time-line {
    margin-top: 0.4vw;
    /* font-size: var(--font-size-large); */
    font-size: 1.1vw;
    /* font-style: italic; */
    opacity: 0.95;
    color: rgb(108, 107, 107);

    /* margin-left: 80px; */
}


.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: #333;
    font-size: var(--font-size-medium);
    width: 35%;
    gap: var(--gap-tiny);
}

.header-right .weather {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5vw;
    width: 100%;
    margin-top: 0.3vw;
}

.header-right .weather-icon {
    width: 8%;
    height: auto;
    vertical-align: middle;
    filter: drop-shadow(0.5vw 0.2vw 0.3vw rgba(0, 0, 0, 0.4));
}

.header-right .weather span {
    font-size: 1.1vw;
    color: rgb(108, 107, 107);

}

.header-right #clock {
    font-weight: bold;
    font-size: 1.1vw;
}


/* #endregion */

/* #region ================= MAIN CONTENT ================= */
.main-content {
    grid-area: main-content;
    display: flex;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    background: #F0F2F5;

    gap: 2vw;
    /* margin: 0 0.5vw 0.5vw 0; */
    flex-grow: 1;
    background: #F0F2F5;
    border-radius: 0 0 1vw 1vw;
}

.main-content.layout-2-col .carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    gap: 2vw;
    padding: 1vw 2vw 2vw 2vw;
    flex-grow: 1;
    background: #F0F2F5;
    border-radius: 0 0 1vw 1vw;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    border: none;

    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: none;

    background: rgb(115, 110, 110);
    color: #ffffff;
    font-size: 2vw;
    width: 3.5vw;
    height: 3.5vw;
    opacity: 0.7;
}

.carousel-btn.prev {
    left: 0.5vw;
}

.carousel-btn.next {
    right: 0.5vw;
}

/* #endregion */


#devtools-indicator {
    display: block;
}


#devtools-indicator {
    display: none !important;
}