.lightbox-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Khung Lightbox */
.lightbox-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nút X */
.lightbox-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: rgba(255, 255, 255, 0.2);

  border: none;
  outline: none;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  z-index: 10;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

.lightbox-close:hover {
  background: rgba(30, 30, 30, 0.7);
}

/* Ảnh */
.lightbox-media.img {
  max-width: 90vw;
  max-height: 90vh;
  min-height: 90vh;
  object-fit: contain;
}

/* Video */
.lightbox-media.video {
  width: 80vw;
  max-height: 90vh;
  object-fit: contain;
  background: #000;
}

/* PDF */
.lightbox-media.pdf {
  width: 90vw;
  height: 85vh;
  border: none;
}