/* ============ CATEGORY TABLE ============ */
.table-categories th:nth-child(1),
.table-categories td:nth-child(1) {
    width: 15%;
}

.table-categories th:nth-child(2),
.table-categories td:nth-child(2) {
    width: 10%;
}

.table-categories th:nth-child(3),
.table-categories td:nth-child(3) {
    width: 25%;
}

.table-categories th:nth-child(4),
.table-categories td:nth-child(4) {
    width: 15%;
}

.table-categories th:nth-child(5),
.table-categories td:nth-child(5) {
    width: 25%;
}